import java.util.ArrayList;

public class Order {
private String orderNo;
private ArrayList<Order>orderRows = new ArrayList<Order>();

public Order (String orderNo){
    this.orderNo=orderNo;
}
public void setOrderNo (String orderNo){
    this.orderNo=orderNo;
}
public String getOrderNo(){
    return orderNo;
}
public void setOrderRows (ArrayList<Order>orderRows){
    this.orderRows=orderRows;
}
public ArrayList<Order> getOrderRows(){
    return orderRows;
}
public void addOrderRows (Order orderRows){
    this.orderRows.add(orderRows);
}
}

